# Python
__pycache__/
*.py[cod]
venv/
*.egg-info/

# Android
*.apk
*.ap_
*.dex
.gradle/
build/
local.properties
*.iml
.idea/

# ML Models
*.h5
*.tflite
*.pth

# Datasets
*.csv
datasets/*
!datasets/.gitkeep

# OS
.DS_Store
Thumbs.db

# Secrets
.env
api_keys.txt
# Large model files
ml-models/saved_models/*.pkl
ml-models/saved_models/*.h5
ml-models/saved_models/*.tflite
