streamlit==1.53.1
plotly==5.18.0
scikit-learn==1.8.0
numpy==2.4.1
pandas==2.3.3
opencv-python-headless==4.8.1.78
pyzbar==0.1.9
qrcode==7.4.2
opencv-python-headless==4.8.1.78
pyzbar==0.1.9
qrcode==7.4.2
pytesseract==0.3.10
